{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="text-center">Top Major Headlines</h1>

    <p class="text-center">Welcome to "<strong>Head & Tails</strong>" your ultimate destination for comprehensive, reliable, and up-to-date global news. 
        We gather significant stories worldwide, offering a holistic view of current events. 
        From breaking news and analyses to expert opinions and features, we cover politics, economics, 
        technology, health, culture, and more. Stay informed with our <strong>24/7</strong> coverage, bringing you the world's news under one roof.
        Never miss a beat in global news.
    </p>
{% endblock %}